//
//  RHSettings.m
//  Wildflowers of Detroit Iphone
//
//  Created by Deep Winter on 3/10/12.
//

#import "RHSettings.h"


#define kRemoteDatabaseName @"t"
#define kRemoteDatabaseUser @""
#define kRemoteDatabasePassword @""
#define kRemoteDatabaseHost @""

#define fullLatitudeDelta .1
#define fullLongitudeDelta .1
#define kMapCenterOnLoadLatitude 42.3
#define kMapCenterOnLoadLongitude -83.1

@implementation RHSettings

+ (NSString *) databaseName {
    return kRemoteDatabaseName;
}

+ (NSString *) databaseUser {
    return kRemoteDatabaseUser;
}

+ (NSString *) databasePassword {
    return kRemoteDatabasePassword;
}

+ (NSString *) databaseHost {
    return kRemoteDatabaseHost;
}


+ (BOOL) useRemoteServer{
    return false;
}

+ (NSString *) couchRemoteServer{
    return nil;
}


+ (BOOL) useCamera {
    return true;
}

+ (BOOL) allowNewProjectCreation{
    return false;
}

//Map
+ (float) mapCenterLatitudeOnLoad{
    return kMapCenterOnLoadLatitude;
}

+ (float) mapCenterLongitudeOnLoad{
    return kMapCenterOnLoadLongitude;
}

+ (float) mapDeltaLatitudeOnLoad{
    return fullLatitudeDelta;
}

+ (float) mapDeltaLongitudeOnLoad{
    return fullLongitudeDelta;
}


@end
